<template>
  <div class="flex items-center justify-center w-screen h-screen bg-green-300">
    <div
      v-if="isLoading"
      class="flex flex-col items-center justify-center w-full"
    >
      <div class="loading"></div>
      <div class="font-bold text-white">Loading game..</div>
    </div>

    <div v-if="!hasStarted">
      <div
        v-if="gameEnded"
        class="my-4 text-3xl font-semibold text-white uppercase"
      >
        {{ result }}
      </div>
      <div class="my-4 text-3xl font-semibold text-white uppercase">
        TicTacToe
      </div>
      <button
        class="w-full px-5 py-2 font-bold text-white bg-green-500 rounded-md hover:bg-green-600"
        @click="initialize"
      >
        {{ gameEnded ? "Rematch" : "Start" }}
      </button>
    </div>

    <div
      :class="hasStarted && !isLoading ? 'visible' : 'hidden'"
      id="game"
      class="flex justify-center w-full"
    ></div>
  </div>
</template>

<script lang="ts" src="./GameComponent.ts"></script>
<style lang="scss" src="./GameComponent.scss"></style>
