.main-screen {
  width: 100vw;
  height: 100vh;
}

.board {
  @apply h-full;
  @apply w-full;
  @apply grid;
  @apply grid-cols-3;

  @media screen and (min-width: 768px) {
    @apply w-1/2;
  }
}

.field {
  @apply cursor-pointer;
  @apply h-48;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  border-bottom: 5px solid white;
  border-left: 5px solid white;
  @apply text-8xl;
  @apply text-white;
}

.field:nth-child(1),
.field:nth-child(4),
.field:nth-child(7) {
  border-left: none;
}

.field:nth-child(7),
.field:nth-child(8),
.field:nth-child(9) {
  border-bottom: none;
}

.loading {
  @apply w-32;
  @apply h-32;
  @apply my-16;
  border: 3px solid white;
  border-radius: 50%;
  border-top-color: #22c55e;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
