<template>
  <GameComponent />
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import GameComponent from "@/components/GameComponent.vue";

@Options({
  components: {
    GameComponent,
  },
})
export default class App extends Vue {}
</script>
